.map-container {
  position: relative;
  text-align: center;
}

.map-label {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: Navy
}

.responsive-img {
  width: 100%;
  max-width: 900px;
  height: auto;
}